# Environment variables
.env

# Vendor directory (if using Go modules)
vendor/

# Build artifacts
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


#Extra Docs
RECOMMENDATION_ALGORITHM.md